# Import the required librairies

In [401]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score, mean_squared_error
import matplotlib.pyplot as plt
import pandas as pd
from dateutil.parser import parse
import datetime
import matplotlib

# Upload FDI dataset

In [402]:
data = pd.read_csv('/Users/h/Downloads/FDI_dataset.csv')
data.sample(n=5)

           Date         Time  Energy_consumption      Cost  Output
50395  12/16/10  11:10:00 PM             1.11152  0.133382  Normal
34089  08/25/10   5:30:00 PM             0.90500  0.108600  Normal
44301  11/04/10   3:30:00 PM             0.60242  0.289162  Normal
8665   03/02/10   4:10:00 AM             1.04800  0.125760  Attack
6676   02/16/10   8:40:00 AM             0.05350  0.006420  Attack

# FDI dataset preprocessing: normalization (feature scaling)

In [403]:
df_norm = data[['Energy_consumption', 'Cost']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df_norm.sample(n=5)

       Energy_consumption      Cost
3798             0.000000  0.000000
26966            0.187367  0.047181
20016            0.000000  0.000000
7226             0.099848  0.025143
50180            0.323476  0.081455

# Change the categorical values of the Output column into numerical values (Normal and attack into 0 and 1, respectively)

In [404]:
output = data[['Output']].replace(['Normal','Attack'],[0,1])
output.sample(n=5)

       Output
23562       1
34441       0
3718        1
37204       0
15838       1

In [405]:
df = pd.concat([df_norm, output], axis=1)
df.sample(n=5)

       Energy_consumption      Cost  Output
3108             0.000000  0.000000       1
24422            0.000000  0.000000       1
31301            0.030289  0.007627       0
33156            0.048554  0.012226       0
32455            0.368189  0.092714       0

# Split dataset into train/test (70%/30%)

In [406]:
dataset=df.values
X=dataset[1:,0:1]
Y=dataset[1:,2]

In [407]:
train_X, test_X, train_Y, test_Y=train_test_split(X,Y, test_size=0.2)

# Build the ANN Model with Relu function, 5 layers and 100 nodes

In [408]:
MLPClassifier(activation='sigmoid', alpha=0.1, batch_size=32, beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(15,15,15,15),learning_rate=0.03,
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state='None',
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

MLPClassifier(activation='sigmoid', alpha=0.1, batch_size=32, beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(15, 15, 15, 15), learning_rate=0.03,
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state='None',
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

# Train and test the ANN Model

In [409]:
mlp = MLPClassifier()
mlp.fit(train_X,train_Y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [410]:
predictions = mlp.predict(test_X)

# Results: Confusion matrix, Pd, Pmd, Accurracy, Pfa

In [411]:
confMatrix=confusion_matrix(test_Y,predictions)
print ("Confusion Matrix")
print(confMatrix)

Confusion Matrix
[[5067  233]
 [1090 4122]]

In [412]:
tn, fp, fn, tp=confMatrix.ravel()
accuracy=(tp+tn)/confMatrix.sum()
print ("Accuracy (%)")
print (accuracy*100)

Accuracy (%)
87.4143835616

In [413]:
pmd=fn/(tp+fn)
print ("Probability of miss detection (%)")
print(pmd*100)

Probability of miss detection (%)
20.913277053

In [414]:
pd=tp/(tp+fn)
print ("Probability of  detection (%)")
print(pd*100)

Probability of  detection (%)
79.086722947

In [415]:
pf=fp/(fp+tn)
print ("Probability of false alarm (%)")
print(pf*100)

Probability of false alarm (%)
4.39622641509

In [416]:
error=mean_squared_error(test_Y,predictions)
print ("MSE")
print(error)

MSE
0.125856164384